.background {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    display: block;
    position: relative;
    margin:auto;
    border-radius: 6px;
    z-index: 1001;
    background-color: white;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-header {
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 2px solid #ddd;
}

.modal-footer {
    text-align: right;
    padding: 1rem;
    background-color: #ccc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.modal-body {
    height: 50vh;
    overflow-y: auto;
    padding: 0.3rem;
}

h2 {
    margin: 0;
    padding: 1rem;
}