* {
    box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.board {
    display: flex;
}

.cell {
    user-select: none;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: #ccc;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    border-style: solid;

}

.cell-neutral {
    border-width: 2px;
    border-top-color: #aaa;
    border-left-color: #aaa;
    border-bottom-color: #777;
    border-right-color: #777;
}

.cell-clicked {
    border-width: 1px;
    border-top-color: #bbb;
    border-left-color: #bbb;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
}

.mines-1::before {
    color: blue;
    content: '1';
}

.mines-2::before {
    content: '2';
    color: rgb(0, 123, 0);
}

.mines-3::before {
    content: '3';
    color: red;
}

.mines-4::before {
    content: '4';
    color:  rgb(0, 0, 123);
}

.cell-mine {
    border-color: red;
}

.cell-mine::before {
    content: '☀'
}